<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 card p-5">
            <h1 class="text-primary">Add Task</h1>
            <form action="add-task" method="post">
                {{#each errors}}
                    <p class="text-danger">{{msg}}</p>  
                {{/each}}
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" value="{{title}}"/>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" class="form-control">{{description}}</textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>